@charset "utf-8";
/* CSS Document 
 * author: @CleiverFossi
 * Version: 2
 * Modificado por :
 */


body{
	width:961px;
	font-size:16px;
	font-family: Helvetica, Arial;
	padding:0px;
	margin:0 auto;
	overflow:auto;
}
h1,h2,h3,h4{ 
	color:#000; 
	margin:0;
	text-align:center;
}
h5{  
	margin:0;
	text-align:center;
}
p,td{
	margin:0;
	text-align:justify;
}
a{
	text-decoration:none;
	color:#ffff; 
}
a:hover{
	color:#FF0000;
}
table{
	background:#ccc; 
	overflow:hidden;
	border-collapse:collapse; 
	-webkit-border-radius:12px;	-moz-border-radius:12px;border-radius:12px; /* css3 */
} 
table th{
	color:#000;
	text-align:center;
	padding:10px 10px;
	background-color:#03C04A;
	height:20px;
}
table tr:nth-child(even) {/* css3 */ 	
 	color:#000;
	background:#5DBB63; 
}
table tr:nth-child(odd) {/* css3 */
	background: #77DD77;
}



#banner{
	background-color:#CCC;
	background-image:url(http://ingsistemas.ufps.edu.co/templates/siteground-j15-117/images/headerimg.png);
	background-position:bottom center;
	width:100%;
	height:170px;
	overflow:hidden;
	-webkit-border-radius:12px;	-moz-border-radius:12px;border-radius:12px; /* css3 */
}
#banner .titulo{
	margin:15px 0;
	color: #03AC13;
	text-align:center;
	margin-right:200px;
	font-size:23px;
	font-weight:bold;
}
#banner .subtitulo{
	color:#03AC13;
	text-align:center;
	margin-right:200px;
	font-size:18px;
	font-weight:normal;
}

#contenido{
	border:2px solid #CCC;
	background-color:#FFF;
	margin:0 auto;
	width:96%;
	height:auto;
	padding:15px;
	-webkit-border-radius:12px;	-moz-border-radius:12px;border-radius:12px; /* css3 */
}

#Secciones{
	margin-top:25px;
	width:100%;
	height:300px;
	
}

#Izquierda{
	float: left;
	border:2px solid #CCC;
	background-color:#FFF;
	margin-right:20px;
	width:210px;
	height:auto;
	-webkit-border-radius:12px;	-moz-border-radius:12px;border-radius:10px; /* css6 */
}

#Centro{
	float:left;
	border:2px solid #CCC;
	background-color:#FFF;
	width:410px;
	height:auto;
	-webkit-border-radius:12px;	-moz-border-radius:12px;border-radius:12px; /* css6 */
}


#Derecha{
	float: right;;
	border:2px solid #CCC;
	background-color:#FFF;
	width:300px;
	height:auto;
	-webkit-border-radius:12px;	-moz-border-radius:12px;border-radius:12px; /* css6 */
}

#tetris
{
	float: left;
	width: 160px;
	height: 170px;
}


#pie{
	color:#FFF;
	margin:0 auto;
	margin-top:10px;
	width:100%;
	padding:20px 0;
	text-align:center;
	background-color:#ccc;
	-webkit-border-radius:12px;	-moz-border-radius:12px;border-radius:12px; /* css3 */
	background: -webkit-gradient(linear, left top, left bottom, from(white), to(#000));background: -moz-linear-gradient(top, white, #000); /* css3 */
	
}
#pie a{
	color:#FFF;
	text-decoration:none;
}
.center{
	margin:0 auto;
}
.clear{
	width:1px;
	clear:both;
}